.activities-form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5em;
    align-items: center;
    margin-bottom: 1em;
}

.activities-list li {
    padding-block: 0.6em;
    cursor: revert;
    border-bottom: 2px solid #ccc;
}
